<?xml version="1.0"?>
<model>
  <name>stop_sign_poster</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>t0338838</name>
    <email>t0338838@ntu.ac.uk</email>
  </author>
  <description>
    A flat poster displaying a stop sign for object detection testing
  </description>
</model>
